RewriteEngine On

# Favicon soll natürlich geladen werden können.
RewriteRule ^favicon.ico$ favicon.ico [L]

# Auf Templates und Assets soll natürlich zugegriffen werden können.
RewriteRule ^templates/(.+)$ templates/$1 [L]

# URL-Rewriting für "/admin" -> "/index.php?page=admin"
RewriteRule ^index.php$ index.php [L]

RewriteCond %{QUERY_STRING} ^(.+)$
RewriteRule ^(.+)$ index.php?page=$1&%1 [L]

RewriteRule ^(.+)$ index.php?page=$1 [L]
