<div class="mf-mobile-nav">
  <div class="mf-mobile-nav-inner">
    <div class="mf-mobile-nav-menu">Menü</div>
    <div class="mf-nav-item row">
      <a href="/turniere">
        <div class="col-xs-8">Turniere</div>
        <div class="col-xs-4"><img src="{{ asset('img/edit.png') }}"></div>
      </a>
    </div>
    <div class="mf-nav-item row">
      <a href="teams">
        <div class="col-xs-8">Teams</div>
        <div class="col-xs-4"><img src="{{ asset('img/edit.png') }}"></div>
      </a>
    </div>
    <div class="mf-nav-item row">
      <a href="spieler">
        <div class="col-xs-8">Spieler</div>
        <div class="col-xs-4"><img src="{{ asset('img/edit.png') }}"></div>
      </a>
    </div>
    <div class="mf-nav-item row">
      <a href="/gruppen">
        <div class="col-xs-8">Gruppen</div>
        <div class="col-xs-4"><img src="{{ asset('img/edit.png') }}"></div>
      </a>
    </div>
    <div class="mf-nav-item row">
      <a href="/matches">
        <div class="col-xs-8">Matches</div>
        <div class="col-xs-4"><img src="{{ asset('img/edit.png') }}"></div>
      </a>
    </div>
  </div>
</div>