<div class="mf-page-header clearfix">
  <div class="mf-menu mf-menu-left pull-left">
    <img class="mf-hamburger" src="{{ asset('img/hamburger.png') }}">
    <h1>Turnier Software</h1>
  </div>
  <div class="mf-main-menu mf-menu">
    <a class="mf-item-active" href="/live-matches" class="mf-menu-item">Matches</a>
    <a class="mf-item-active" href="/live-punktestand" class="mf-menu-item">Punktestand</a>
    {% if adminLoggedIn == true %}
    <a href="/logout" class="mf-menu-item"><span class="glyphicon glyphicon-log-out"></span></a>
    {% else %}
    <a href="/admin" class="mf-menu-item"><span class="glyphicon glyphicon-log-in"></span></a>
    {% endif %}
  </div>
  <div class="mf-menu mf-menu-right pull-right">
    <img src="{{ asset('img/logo.png') }}">
  </div>
</div>