.mf-login-form {
  text-align: right;
}

.mf-login-form input {
  width: 100%;
}

.mf-login-form .mf-submit-row {
  margin-top: 1em;
}

.mf-login-form .mf-submit-row input {
  padding: 0.4em 0;
}