/*===--------------- General styling ---------------===*/

html {
  overflow-x: hidden;
  max-width: 100vw;
 }

body {
  font-size: 22px;
  overflow-x: hidden;
  max-width: 100vw;
}

body * {
  line-height: 1em;
}

a {
  color: #333;
}

input {
  color: #333;
}

/*===--------------- Page styling ---------------===*/

.mf-page-wrap {
  transition: all 0.5s;
  transition-property: -webkit-transform, -moz-transform, -ms-transform, transform;
}

.mf-page-toright {
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
}

.mf-container {
  margin: 0;
}

.mf-mobile-container {
  margin: 0 30px;
}

.mf-page-header {
  background-color: rgb(79, 129, 189);
}

/*===--------------- Menu styling ---------------===*/

.mf-menu {
  padding: 5px 0;
  font-size: 24px;
}

.mf-menu * {
  display: inline-block;
  font-size: 22px;
}

.mf-menu h1 {
  margin: 0;
  display: none;
}

.mf-menu a {
  color: #333;
  text-decoration: none;
  border: 1px solid transparent;
}

.mf-menu a.mf-item-active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.mf-menu img {
  display: inline;
  height: 45px;
  width: auto;
}

.mf-main-menu {
  font-size: 24px;
  float: left;
  margin-left: 20px;
}

.mf-main-menu .mf-menu-item {
  padding: 10px 0;
}

/*===--------------- Mobile Nav styling ---------------===*/

.mf-mobile-nav {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  min-height: 100vh;
  background-color: rgb(79, 129, 189);
  transition: left 0.5s;
  font-size: 24px;
}

.mf-mobile-nav-inner {
  padding: 17px 20px;
}

.mf-mobile-nav-menu {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.mf-mobile-nav.mf-active {
  left: 0;
}

.mf-mobile-nav .mf-nav-item {
  padding: 5px 0;
}

.mf-mobile-nav .mf-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.mf-mobile-nav .mf-nav-item img {
  width: 32px;
  height: auto;
}

/*===--------------- Section & section separator styling ---------------===*/

.mf-section-separator {
  text-align: center;
  line-height: 1.5em;
}

.mf-section {
  background-color: rgb(76, 85, 92);
}

.mf-section-headline {
  background-color: rgb(79, 129, 189);
  line-height: 1.5em;
  font-size: 75%;
  text-align: center;
}

.mf-section.mf-active-match > .mf-section-headline {
  background-color: tomato;
}

.mf-section-headline img {
  height: 30px;
  width: auto;
}

.mf-section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.after-records {
  margin-top: 50px;
}

.after-records .mf-leftcol {
  text-align: left;
}

.after-records .mf-rightcol {
  text-align: right;
}

/*===--------------- Input fields ---------------===*/

select {
  color: #333;
}

.mf-date {
  color: #333;
}

input[type=text] {
  width: 100%;
}

/*===--------------- Media Queries ---------------===*/

@media (min-width: 768px) {
  /*===--------------- General styling ---------------===*/

  body {
    font-size: 42px;
  }

  /*===--------------- Page styling ---------------===*/

  .mf-container {
    margin: 0 70px;
  }

  /*===--------------- Menu styling ---------------===*/

  .mf-menu h1 {
    display: inline;
  }

  /*===--------------- Section styling ---------------===*/

  .mf-section-headline {
    text-align: left;
  }
}