.mf-page td, th {
  font-size: 20px;
  padding: 10px;
}

.mf-t1-header {
  background-color: tomato;
}

.mf-t2-header {
  background-color: green;
}

.marked-delete {
  background-color: tomato;
}

.new {
  background-color: rgba(255, 255, 255, 0.2);
}