<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/admin.css') }}">
</head>
<body>
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    <div class="mf-page-header clearfix">
      <div class="mf-menu mf-menu-left pull-left">
        <img class="mf-hamburger" src="{{ asset('img/hamburger.png') }}">
        <h1>Turnier Software</h1>
      </div>
      <div class="mf-main-menu mf-menu">
        <a href="/" class="mf-menu-item">Live Ansicht</a>
        <a class="mf-item-active" href="#" class="mf-menu-item">Admin</a>
      </div>
      <div class="mf-menu mf-menu-right pull-right">
        <img src="{{ asset('img/logo.png') }}">
      </div>
    </div>

    <div class="mf-section-separator">Admin Login</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        <form class="mf-login-form" method="GET" action="/login.php">
          <div class="clearfix">
            <div class="col-xs-6"><label for="input-username">Benutzername:</label></div>
            <div class="col-xs-6"><input id="input-username" name="username" type="text"></div>
          </div>
          <div class="clearfix">
            <div class="col-xs-6"><label for="input-password">Passwort:</label></div>
            <div class="col-xs-6"><input id="input-password" name="password" type="password"></div>
          </div>
          <div class="mf-submit-row clearfix">
            <div class="col-xs-6">&nbsp;</div>
            <div class="col-xs-6">
              <input type="submit" value="Anmelden">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>
</html>