<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="Group_has_Team">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Teams von {{group.name}}</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          <a href="/gruppen">Zurück zu den Gruppen</a>&nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        {% for team in teams %}
        {{ _self.record(team.id, team.groupId, team.teamId, allTeams) }}
        {% endfor %}

        <div class="after-records clearfix">
          <div class="col-xs-6">
            <input class="save-all-records" type="button" value="Speichern"/>
          </div>
          <div class="col-xs-6">
            <input class="add-record" type="button" value="Hinzufügen"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, groupId, teamId, allTeams, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id is not null %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}

  <input type="hidden" name="Group_Id" value="{{ groupId }}">

  <table class="mf-table">
    <tr>
      <th><label>Team</label></th>
      <td>
        <select name="Team_Id">
          {% for team in allTeams %}
          <option value="{{ team.id }}" {% if teamId == team.id %} selected {% endif %}>{{ team.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td><input class="delete-record" type="button" value="Löschen"/></td>
    </tr>
  </table>
</form>
{% endmacro %}

{{ _self.record(null, group.id, null, allTeams, true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>