<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body>
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Gruppen anzeigen</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        <table class="hidden-sm hidden-xs mf-table">
          <tr>
            <th>Gruppen Name</th>
            <th>Uhrzeit</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th class="mf-t1-header">Punke T1</th>
            <th class="mf-t2-header">Punke T2</th>
            <th>Läuft</th>
            <th>Fertig</th>
          </tr>
          <tr>
            <td>Gruppe 1</td>
            <td>13:20</td>
            <td>Die Roten</td>
            <td>Die Grünen</td>
            <td>5</td>
            <td>0</td>
            <td><input type="checkbox" checked=""></td>
            <td><input type="checkbox"></td>
          </tr>
        </table>

        <table class="visible-sm visible-xs mf-table" style="width: 100%;">
          <tr>
            <th>Gruppen Name</th>
            <td>Gruppe 1</td>
          </tr>
          <tr>
            <th>Uhrzeit</th>
            <td>13:20</td>
          </tr>
          <tr>
            <th class="mf-t1-header">Team 1</th>
            <td>Die Roten</td>
            <td>5</td>
          </tr>
          <tr>
            <th class="mf-t2-header">Team 2</th>
            <td>Die Grünen</td>
            <td>0</td>
          </tr>
          <tr>
            <th>Läuft</th>
            <td><input type="checkbox" checked=""></td>
          </tr>
          <tr>
            <th>Fertig</th>
            <td><input type="checkbox"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>
</html>