<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
</head>
<body>
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Punktetabelle</div>

    {% for tournamentName, tournament in liveData %}
      {% for group in tournament.TournamentMatchPoints %}

      <div class="mf-section">
        <div class="mf-section-headline">
          <div class="mf-section-headline-inner mf-container">
            {{ group.name }}
          </div>
        </div>
          <div class="mf-section-inner mf-container">
            <div class="hidden-sm hidden-xs clearfix">
              <div class ="col-md-13">
                <div class="table-responsive">
                  <table class="table">
                  <tr>
                    <th>Team</th>
                    <th>Punkte</th>
                    <th>Tore geschossen</th>
                    <th>Tore bekommen</th>
                  </tr>
                  {% for team in group.teams %}
                  <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.matchPoints }}</td>
                    <td>{{ team.wonPoints }}</td>
                    <td>{{ team.lostPoints }}</td>
                  </tr>
                  {% endfor %}
                </table>
                </div>
              </div>
              </div>
            <div class="visible-sm visible-xs clearfix">
              <div class ="col-xs-13">
                <div class="table-responsive">
                  <table class="table">
                  <tr>
                    <th>Team</th>
                    <th>Punkte</th>
                    <th>Tore geschossen</th>
                    <th>Tore bekommen</th>
                  </tr>

                  {% for team in group.teams %}
                  <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.matchPoints }}</td>
                    <td>{{ team.wonPoints }}</td>
                    <td>{{ team.lostPoints }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
                </div>
            </div>
          </div>
        </div>
      <br>

    {% endfor %}
    {% endfor %}

  </div>
</div>

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>
</html>