<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/datetimepicker/css/bootstrap-datetimepicker.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/datetimepicker/css/bootstrap-datetimepicker-standalone.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="MatchInfo">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Matches</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        {% for match in matches %}
        {{ _self.record(match.id, match.groupId, match.groupName, match.teamFirstName, match.teamFirstPoints,
        match.teamSecondName,
        match.teamSecondPoints, match.matchTime, match.isRunning, match.isCompleted, match.teamFirstId,
        match.teamSecondId, gruppen, teams, false) }}
        {% endfor %}

        {% set noGroups = gruppen|length <= 0 %}

        {% if noGroups %}
        <span class="align-center">Legen Sie bitte zuerst Gruppen an</span>
        {% endif %}

        <div class="after-records clearfix">
          <div class="col-xs-6">
            <input class="save-all-records" type="button" value="Speichern" {% if noGroups %}disabled{% endif %}/>
          </div>
          <div class="col-xs-6">
            <input class="add-record" type="button" value="Hinzufügen" {% if noGroups %}disabled{% endif %}/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, groupId, groupName, teamFirstName, teamFirstPoints, teamSecondName, teamSecondPoints, matchTime,
isRunning,
isCompleted, teamFirstId, teamSecondId, gruppen, teams, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id is not null %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}


  <div class="table-responsive mf-scrollxy">
    <table class="mf-table">
    <tr>
      <th><label>{% if not groupId %}Gruppe{% endif %}</label></th>
      <th><label>Spielzeit</label></th>
      <th><label>Team 1</label></th>
      <th><label>Team 2</label></th>
      <th style="background-color: forestgreen"><label>{{ teamFirstName }} Punkte</label></th>
      <th style="background-color: tomato"><label>{{ teamSecondName }} Punkte</label></th>
      <th><label>Läuft</label></th>
      <th><label>Beendet</label></th>
    </tr>
    <tr>
      <td>
        {% if not groupId %}
        <select name="GroupId">
          {% for gruppe in gruppen %}
          <option value="{{gruppe.id}}">{{gruppe.name}}</option>
          {% endfor %}
        </select>
        {% else %}
        <label>{{ groupName }}</label>
        {% endif %}
      </td>
      <td>
        <div class="form-group">
          <div class='input-group date mf-date'>
            <input name="matchTime" type='text' class="form-control" value="{{matchTime}}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
      </td>
      <td>
        <select class="form-control" name="TeamFirstId">

          {% for team in teams %}
          <option value="{{team.id}}" {% if team.id== teamFirstId %} selected {% endif%}>{{team.name}}</option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select class="form-control" name="TeamSecondId">
          {% for team in teams %}
          <option value="{{team.id}}" {% if team.id== teamSecondId %} selected {% endif%}>{{team.name}}</option>
          {% endfor %}
        </select>
      </td>
      <td><input class="form-control" name="teamFirstPoints" type="text" value="{{ teamFirstPoints }}"></td>
      <td><input class="form-control" name="teamSecondPoints" type="text" value="{{ teamSecondPoints }}"></td>
      <td>
        <input class="form-control" name="isRunning" type="checkbox" value="1" {% if isRunning %} checked {% endif %}>
      </td>
      <td>
        <input class="form-control" name="isCompleted" type="checkbox" value="1" {% if isCompleted %} checked {% endif %}>
      </td>

      <td><input class="delete-record form-control" type="button" value="Löschen"/></td>
    </tr>
  </table>
    </div>
</form>
{% endmacro %}

{{ _self.record(null, null, '', 'Team #1', '0', 'Team #2', '0', '00:00', false, false,0,0, gruppen, teams, true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/moment/moment.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/bootstrap-3.3.5-dist/js/transition.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/bootstrap-3.3.5-dist/js/collapse.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/datetimepicker/js/locale/de.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/datetimepicker/js/locale/de-at.js') }}"></script>
<script type="text/javascript" src="{{ asset('lib/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>