<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="Player">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Spieler</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        {% for player in players %}
        {{ _self.record(player.id, player.name, player.lastName, player.teamId, teams) }}
        {% endfor %}

        <div class="after-records clearfix">
          <div class="col-xs-6">
            <input class="save-all-records" type="button" value="Speichern"/>
          </div>
          <div class="col-xs-6">
            <input class="add-record" type="button" value="Hinzufügen"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, firstname, lastname, teamId, teams, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}

  <table class="mf-table">
    <tr>
      <th><label>Vorname</label></th>
      <td><input name="Vorname" type="text" value="{{ firstname }}"></td>
      <td><label>Nachname</label></td>
      <td><input name="Name" type="text" value="{{ lastname }}"></td>
      <td><label>Team</label></td>
      <td>
        <select name="TeamId">
          {% for team in teams %}
          <option value="{{ team.id }}" {{ team.id == teamId ? "selected" : "" }}>{{ team.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td><input class="delete-record" type="button" value="Löschen"/></td>
    </tr>
  </table>
</form>
{% endmacro %}

{{ _self.record(null, '', '', null, teams, true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>