<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="Player">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Spieler</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        <div class="row">
          <div class="mf-mobile-container">
            <div class="col-xs-4 col-md-3"><label>Vorname</label></div>
            <div class="col-xs-4 col-md-3"><label>Nachname</label></div>
            <div class="col-xs-4 col-md-3"><label>Team</label></div>
            <div class="col-xs-4 col-md-3"><label></label></div>
          </div>
        </div>

        {% for player in players %}
        {{ _self.record(player.id, player.name, player.lastName, player.teamId, teams) }}
        {% endfor %}

        {% set noTeams = teams|length <= 0 %}

        {% if noTeams %}
        <span class="align-center">Legen Sie bitte zuerst Teams an</span>
        {% endif %}

        <div class="after-records mf-mobile-container">
          <div class="row">
            <div class="col-xs-6 mf-leftcol">
              <input class="save-all-records" type="button" value="Speichern" {% if noTeams %}disabled{% endif %}/>
            </div>
            <div class="col-xs-6 mf-rightcol">
              <input class="add-record" type="button" value="Hinzufügen" {% if noTeams %}disabled{% endif %}/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, firstname, lastname, teamId, teams, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id is not null %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}

  <div class="mf-mobile-container">
    <div class="row">
      <div class="col-xs-4 col-md-3"><input class="form-control" name="Vorname" type="text" value="{{ firstname }}"></div>
      <div class="col-xs-4 col-md-3"><input class="form-control" name="Name" type="text" value="{{ lastname }}"></div>
      <div class="col-xs-4 col-md-3">
        <select class="form-control" name="TeamId">
          {% for team in teams %}
          <option value="{{ team.id }}" {{ team.id == teamId ? "selected" : "" }}>{{ team.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-xs-4  col-md-3"><input class="delete-record form-control" type="button" value="Löschen"/></div>
    </div>
  </div>
</form>
{% endmacro %}

{{ _self.record(null, '', '', null, teams, true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>