<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="Team">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Teams</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        <div class="mf-mobile-container">
          <div class="row">
            <div class="col-xs-4"><label>Name</label></div>
            <div class="col-xs-4"><label>Turnier</label></div>
            <div class="col-xs-4"><label></label></div>
          </div>
        </div>

        {% for team in teams %}
        {{ _self.record(team.id, team.name, team.tournamentId, turniere) }}
        {% endfor %}

        {% set noTurniere = turniere|length <= 0 %}

        {% if noTurniere %}
        <span class="align-center">Legen Sie bitte zuerst Turniere an</span>
        {% endif %}

        <div class="after-records mf-mobile-container">
          <div class="row">
            <div class="col-xs-6 mf-leftcol">
              <input class="save-all-records" type="button" value="Speichern" {% if noTurniere %}disabled{% endif %}/>
            </div>
            <div class="col-xs-6 mf-rightcol">
              <input class="add-record" type="button" value="Hinzufügen" {% if noTurniere %}disabled{% endif %}/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, name, tournamentId, turniere, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id is not null %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}

  <div class="mf-mobile-container">
    <div class="row">
      <div class="col-xs-4"><input class="form-control" name="Name" type="text" value="{{ name }}"></div>
      <div class="col-xs-4">
        <select class="form-control" name="TournamentId">
          {% for turnier in turniere %}
          <option value="{{ turnier.id }}" {{ turnier.id == tournamentId ? "selected" : "" }}>{{ turnier.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-xs-4"><input class="delete-record form-control" type="button" value="Löschen"/></div>
    </div>
  </div>
</form>
{% endmacro %}

{{ _self.record(null, '', null, turniere, true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>