<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
  <title>Tournament Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
</head>
<body data-table="Tournament">
{% include "partials/mobile_nav.html" %}

<div class="mf-page-wrap">
  <div class="mf-page mf-container">
    {% include "partials/page_header.html" %}

    <div class="mf-section-separator">Turniere</div>

    <div class="mf-section">
      <div class="mf-section-headline">
        <div class="mf-section-headline-inner mf-container">
          &nbsp;
        </div>
      </div>

      <div class="mf-section-inner mf-container">
        <div class="mf-mobile-container">
          <div class="row">
            <div class="col-xs-4"><label>Name</label></div>
            <div class="col-xs-4"><label>Live</label></div>
            <div class="col-xs-4"><label></label></div>
          </div>
        </div>

        {% for turnier in turniere %}
          {{ _self.record(turnier.id, turnier.name, turnier.isLive) }}
        {% endfor %}

        <div class="mf-table-responsive">
          <div class="after-records mf-mobile-container">
            <div class="row">
              <div class="col-xs-6 mf-leftcol">
                <input class="save-all-records" type="button" value="Speichern"/>
              </div>
              <div class="col-xs-6 mf-rightcol">
                <input class="add-record" type="button" value="Hinzufügen"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% macro record(id, name, isLive, hidden = false) %}
<form class="mf-form {% if hidden %} hidden {% endif %}" id="record-template" method="POST" action="/index.php">
  {% if id is not null %}
  <input class="field-id" type="hidden" name="Id" value="{{ id }}">
  {% endif %}

  <div class="mf-mobile-container">
    <div class="row">
      <div class="col-xs-4"><input class="form-control" name="Name" type="text" value="{{ name }}"></div>
      <div class="col-xs-4"><input class="form-control" name="IsLive" type="checkbox" value="1" {% if isLive %} checked {% endif %}></div>
      <div class="col-xs-4"><input class="form-control delete-record" type="button" value="Löschen"/></div>
    </div>
  </div>
</form>
{% endmacro %}

{{ _self.record(null, '',0 , true) }}

<script type="text/javascript" src="{{ asset('lib/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/edit.js') }}"></script>
</body>
</html>